## IntelliJ
.idea/
.run/
*.iws
*.iml
*.ipr
nextjs
.DS_Store

## Maven
*/log/
log/
*/target/
target/

## Java
*.class
*.log
*.jar
*.war
*.ear
.java-version

## Spring
config.properties

## NPM
node_modules/
.next/
out/
node/
.env
