## IntelliJ
.idea/
.run/
*.iws
*.iml
*.ipr
nextjs

## Maven
*/log/
log/
*/target/
target/

## Java
*.class
*.log
*.jar
*.war
*.ear

## SQL
*.sql

## Spring
config.properties

## NPM
node_modules/
.next/
out/
node/
