.card {
    max-width: 240px;
    margin: 14px 6px 6px 6px;
    background-color: aliceblue;
    cursor: pointer;
}

.logo {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.icon {
    width: 20px;
    height: 20px;
}

.container {
    display: flex;
}

.card_body {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card_info {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.card_info > * {
    margin: 2px;
}

.appbar {
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 10px 5px 10px;
    background-color: aliceblue;
}

.appbar > * {
    margin: 6px 6px 6px 6px;
}

.appbar_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.appbar_buttons > * {
    margin-left: 10px;
    margin-right: 10px;
}

.center {
    display: flex;
    justify-content: center;
}

.small-text {
    font-size: small;
}

.align-center {
    align-items: center;
    display: flex;
}

.space-bet {
    display: flex;
    justify-content: space-between;
}

.sep-right {
    margin-right: 5px;
}

.sep-left {
    margin-left: 5px;
}

.sep-top {
    margin-top: 8px;
}

.sep-top-xl {
    margin-top: 16px;
}

a {
    text-decoration: underline;
    color: black;
}

a:hover {
   color: #444444;
}

input {
    padding: 4px 4px;
    font-size: 0.9em;
}

.profile-pic {
    size: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #BBBBBB;
}

.browse {
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 4% 0 4%;
    flex-wrap: wrap;
    height: 100%;
}

.required {
    color: #666666;
}

.event_info {
    position: relative;
    background-color: aliceblue;
    padding: 20px;
    min-width: 300px;
}

.event_info div {
    align-content: center;
}

.event_actions {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    top: 0;
    right: 0;
}

.event_actions > * {
    cursor: pointer;
}

.event_info div span {
    margin-left: 5px;
    margin-right: 10px;
}

.error {
    color: red;
    background-color: rgba(255, 0, 0, 0.2);
    font-size: small;
}

input[type='number'] {
    width: 80px;
}

.dni {
    width: 100% !important;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://wallpaperaccess.com/full/127060.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.icon {
    width: 20px;
    height: 20px;
    margin: 4px;
}

form {
    border-radius: 1%;
    background-color: #f2f2f2;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type=submit] {
    background-color: #4CAF50;
    width: 80%;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px 2px 6px 2px;
    font-weight: bold;
}

.cancel_button {
    background-color: red !important;
}

.filter_button {
    padding: 10px 2px 10px 2px;
    font-size: large;
}

.only-element {
    align-items: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.filter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    height: 100%;
    min-width: 250px;
}

.filter > * {
    margin: 10px 0 10px 0;
}

.home {
    display: flex;
    height: 100%;
    width: 100%;
}

.hidden {
    visibility: collapse;
}

.event_buttons {
    justify-content: space-between;
}

.event_img {
    aspect-ratio: 1 / 1;
    max-width: 300px;
}

.event {
    justify-content: space-around;
    margin: 20px;
    align-items: flex-start;
}

.error-message {
    color: #ff002f;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.formError {
    display: none;
    color: red;
    font-weight: bold;
}
.submitted :invalid + .formError {
    display: block;
}
.submitted :invalid {
    border: 1px solid red;
}