.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 200px;
    margin-top: 20px;
    background-color: aliceblue;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
}

.logo {
    width: 60px;
    height: 60px;
}

.icon {
    width: 20px;
    height: 20px;
}

.container {
    display: flex;
}

.card_info {
    justify-content: space-between;
    align-items: center;
}

.card_info > * {
    margin: 2px 4px 4px 2px;
}

.appbar {
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10px 5px 10px;
    margin: -10px -10px 0 -10px;
    background-color: aliceblue;
}

.appbar > * {
    margin: 2px 6px 2px 6px;
}

.browse {
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 20% 0 20%;
    flex-wrap: wrap;
    margin-top: 10px;
}

.event_info {
    background-color: aliceblue;
    padding: 10px;
}

.error {
    color: red;
    background-color: rgba(255, 0, 0, 0.2);
    font-size: small;
}

input[type='number'] {
    width: 60px;
}

body {
    /*background-image: url('https://cdn.wallpapersafari.com/47/19/6Opteq.jpg');*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-position: center;*/
}